.wechat-output {
    word-break: break-all;
    font-size: 14px;
    line-height: 26px;
    text-align: left;
    word-spacing: 2px;
}

.wechat-output p{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #3e3e3e;
}

/* 二级标题 */
.wechat-output h2 {
    border-bottom: 1px solid #773098;
    color: #773098;
    line-height: 30px;
    font-size: 1.1em;
    text-align: center;
}

/* 二级标题内容 */
.wechat-output h2 span:nth-of-type(1) {
    font-size: 22px;
    display: inline-block;
    border-bottom: 3px solid #773098;
    padding: 0 10px;
}

/* 二级标题修饰 请参考有实例的主题 */
.wechat-output h2 span:nth-of-type(2) {
}

.wechat-output .problem-img{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px;
}

.wechat-output .problem-img img{
    max-width: 90%;
    max-height: 200px;
    width: auto;
    height: auto;
}

.wechat-output .step-header {
    font-weight: bold;
    color: #b12fed;
}

.wechat-output .solution-step{
    margin-top: 10px;
    border-bottom: 1px dashed #9642bd;
}

.wechat-output .step-score{
    font-size: 0.8em;
    color: #8c8c8c;
    text-align: right;
}

.wechat-output .problem-info {
    font-size: 0.8em;
    text-align: right;
}

.wechat-output .problem-info a {
    font-size: 0.8em;
    padding: 2px;
    color: #FFFFFF;
    background-color: #b52cf5;
}


.wechat-output .problem-source p{
    position: relative;
    top: -15px;
    text-align: left;
    font-size: 0.8em;
    color: darkgray;
    font-weight: bolder;
}

.wechat-output .problem-solution{
    margin-bottom: 20px;
}

.inline-math{
    display: inline;
}

.display-math{
    display: block;
    text-align: center;
    overflow-x: scroll;
}

.mathcrowd-logo{
    font-size: 0.8em;
    color: darkgrey;
    text-align: right;
    opacity: 70%;
}

.wechat-output .panel-body{
    position: relative;
    margin: auto;
    padding: 20px 20px 5px 20px;
}

.wechat-output .panel{
    margin-bottom: unset;
    background-color: unset;
    border: unset;
    border-radius: unset;
    box-shadow: unset;

}
